
  
 
  .loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #09d3d3; /* Dark Green */
    border-radius: 50%;
    width: 140px;
    padding: 15px;
    height: 140px;
    animation: spinloader 2s linear infinite;
}
.loader img{
    height : 100px;
    width : 100px;
    animation: spinlogo 2s linear infinite;
}
@keyframes spinloader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@keyframes spinlogo {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}