  body{
    background-color: white;
    color: black;
  }
  .darkmode{
    
    color: rgb(79, 79, 79);
  
  }
  #changingtext::after {
    content: '|'; /* Cursor character */
    animation: blink 0.75s step-end infinite; /* Blinking effect */
  }

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

  .welcome-section {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(45deg, #3be6f9, #ff00c8);
    color: white;
  }
  
  .welcome-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  .welcome-section p {
    
    font-size: 1.5rem;
  }
  .repo-card {
    transition: transform 0.2s;
  }
  .repo-card:hover {
    transform: scale(1.05);
  }
  footer {
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
  }
  .about-us-section {
    padding: 60px 20px;
    background-color: #ffffff;
  }
  .about-us-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .about-us-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    color: #555;
  }
  #aboutus {
    font-size: 1.2rem;
      text-align: center;
      margin: 20px auto;
      color: #140043b9;
      opacity: 1; /* Initial opacity */
    transition: opacity 0.8s ease-in-out; 
  }


  /* Model style */
  .modal.fade .modal-dialog {
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
    transform: translateY(-50px);
    opacity: 0;
}

.modal.show .modal-dialog {
    transform: translateY(0);
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.modal-content {
  width: 90%; /* Increase modal size */
  max-width: 900px; /* Limit max width */
}